DB_USERNAME=
DB_NAME=
DB_PORT=
DB_HOST=
DB_PASSWORD=


SUPERADMIN_ID=
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=
SUPERADMIN_NAME=

ROLES=
ROLE_IDS=

SECRET_KEY=
ALGORITHM=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PRESIGNED_URL_EXP=
REGION=
BUCKET_NAME=

TEMP_LOCAL_PATH=

SES_SENDER_MAIL=

GEMINI_API_KEY=